/* h1{
    background-color: black;
    text-decoration: aliceblue;
    color: white;
    width: 28rem;
    box-sizing: border-box;
}

#user-goal {
    background-color: black;
    color: white;
    width: 28rem;
    box-sizing: border-box;

} */